.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
  &:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.651);
  }
}

.headerContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.pedalImage {
  width: 160px;
  height: 160px;
}
