.gridContainer {
  display: flex;
  border-top: 2px solid gray;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  min-height: 65vh;
  width: 90vw;
}

.header {
  text-align: center;
  padding-top: 50px;
  font-size: 56px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
