.container {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  min-height: 90vh;
  //   border: 2px solid yellow;
  padding-bottom: 20px;
  align-items: center;
}

.checkoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 6px;
  border: 1px solid gray;
  width: 100px;
  height: 50px;
  font-size: 18px;
  &:active {
    background-color: lightgray;
  }
}

.header {
  display: flex;
  //   border: 2px solid blue;
  padding-top: 40px;
  font-size: 56px;
  padding-bottom: 40px;
  text-align: center;
  justify-content: center;
  width: 100vw;
}
