@use "../../media-queries/mixins";

.container {
  display: flex;
  // border: 2px solid red;
  height: 200px;
  width: 70vw;
  justify-content: space-around;
  @include mixins.small {
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
}

.infoContainer {
  display: flex;
  //   border: 2px solid blue;
  align-items: center;
  gap: 10px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  //   border: 2px solid green;
}

.quantityContainer {
  display: flex;
  gap: 5px;
  & button {
    width: 20px;
  }
}

.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  //   border: 2px solid yellow;
}

.pedalImage {
  width: 200px;
  height: 200px;
}

.quantityButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 6px;
  border: 1px solid gray;
  width: 40px;
  height: 20px;
  font-size: 18px;
  &:active {
    background-color: lightgray;
  }
}

.removeFromCartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 6px;
  border: 1px solid gray;
  width: 100px;
  height: 50px;
  font-size: 18px;
  &:active {
    background-color: lightgray;
  }
}
