.container {
  display: flex;
  border-bottom: 1px solid gray;
  height: 75px;
  align-items: center;
  gap: 20px;
  padding-left: 2%;
  width: 98%;
  font-size: 24px;
  align-self: center;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.247);
  z-index: 1;
  background-color: crimson;
  & a {
    text-decoration: none;
    color: black;
    &:active {
      color: white;
    }
  }
}

.basic {
  color: black;
}

.pending {
  color: red;
}

.active {
  color: cyan;
}

.transitioning {
  color: magenta;
}
